/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 1.4rem $text-font-stack;
}

h1 {
  margin: 0;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  color: $color--paragraph--hero;
  margin-block: 0;
}
