// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@use "sass:map";
@use "sass:list";

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  // @error "$raw-query: #{$raw-query}";

  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );

    @media (min-width: #{$query}) {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

// Custom mixin to apply responsive styles based on multiple breakpoints.
@mixin respond-to-multiple($cssObj) {
  // Loop through each key-value pair in the input map.
  @each $key, $value in $cssObj {
    // Fetch the breakpoint value from the $breakpoints map using the current key.
    $breakpoint: map-get($breakpoints, $key);
    // Create a media query for the current breakpoint.
    @media (min-width: #{$breakpoint}) {
      // Loop through each key-value pair in the nested map (CSS properties for the current breakpoint).
      @each $key2, $value2 in $value {
        // Output the CSS properties and values within the media query.
        #{$key2}: #{$value2};
      }
    }
  }
}

@mixin respond-to-auto-xs($css1, $breakpoint2, $css2) {
  @include respond-to-auto(xs, $css1, $breakpoint2, $css2);
}

/// Custom mixin to apply responsive styles based on two breakpoints. It calculates intermediate values on the intermediate breakpoints.

@mixin respond-to-auto(
  $prm-breakpoint1-name,
  $prm-styles1,
  $prm-breakpoint2-name,
  $prm-styles2
) {
  ///

  /// Fetch the pixel values for the first and second breakpoints.
  $bp1_pixel: map-get($breakpoints, $prm-breakpoint1-name);
  // @debug $breakpoint-value1;
  $bp2_pixel: map-get($breakpoints, $prm-breakpoint2-name);
  // @debug $breakpoint-value2;

  // Initialize variables to store the indices of the breakpoints.
  $bp1_idx: null;
  $bp2_idx: null;
  $i: 1;

  /// Find the indices of the first and second breakpoints in the $breakpoints map.
  @each $key, $val in $breakpoints {
    // @debug $key $i;
    @if $key == $prm-breakpoint1-name {
      $bp1_idx: $i;
    } @else if $key == $prm-breakpoint2-name {
      $bp2_idx: $i;
    }

    $i: $i + 1;
  }

  // @debug 'breakpoint1-idx' $breakpoint1-idx;
  // @debug 'breakpoint2-idx' $breakpoint2-idx;

  /// Start the loop from the index of the first breakpoint and iterate until the second breakpoint.
  $i: $bp1_idx;
  @while ($i <= $bp2_idx) {
    // Check if the current iteration is the first breakpoint itself or is beyond the first breakpoint.
    @if ($bp1_idx == 1 and $i == $bp1_idx) {
      ///

      /// If $breakpoint1 = the first breakpoint on the breakpoints map,
      /// directly output the CSS properties without applying linear interpolation nor media query.
      @each $prop, $value in $prm-styles1 {
        #{$prop}: #{$value};
      }
    } @else if ($bp1_idx > 1 and $i == $bp1_idx) or ($i > $bp1_idx) {
      //

      /// If the first breakpoint >= the first breakpoint on the breakpoints map:
      /// Fetch the CSS properties and values for the current breakpoint.
      $breakpoint: nth($breakpoints, $i);
      $bp_i_name: list.nth($breakpoint, 1);
      $bp_i_pixel: list.nth($breakpoint, 2);
      // @debug $breakpoint $breakpoint-value;

      /// Calculate and set the intermediate CSS property values using linear interpolation.
      @media (min-width: #{$bp_i_pixel}) {
        @each $prop, $value in $prm-styles1 {
          // @debug $key1 $value1 type-of($value1);

          $min: $value;
          $max: map-get($prm-styles2, $prop);

          /// min & max must not be null and both type must be number
          @if ($min!=null and (type-of($min) == "number")) and
            ($max!=null and (type-of($max) == "number"))
          {
            $value: calc(
              $min +
                ($bp_i_pixel - $bp1_pixel) /
                ($bp2_pixel - $bp1_pixel) *
                ($max - $min)
            );

            // @debug "bp:" $breakpoint-value "max-bp:" $breakpoint-value2 "min:"
            //   $min "max:" $max "value:" $value;

            #{$prop}: #{$value};
          }
        }
      }
    }

    $i: $i + 1;
  }
}

@mixin test-mixin($param) {
  @warn "The param is: #{$param}";
  @content;
}
