// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
// $text-font-stack: "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
//   "Helvetica", "Arial", sans-serif !default;
$text-font-stack: "Wix Madefor Text", sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// =========== Color ===============
///
/* Variables  */

$color-white-1: #fff8f1ff;
$color-white-0: #ffffffff;
$color-brown-tan-desert_sand: #e2c8adff;
$color-brown-tan-tequila: #ffe3d1ff;
$color-brown-shadow: #947a62ff;
$color-brown-cafe_noir: #4c3829ff;
$color-brown-cashmere: #e4bf9dff;
$color-brown-treehouse: #322015ff;
$color-brown-treehouse-light: rgb(140, 93, 62);
$color-brown-walnut: #703c1bff;
$color-brown-treehouse-2: #382418ff;

/* Aliases  */

$color--brand-background: $color-brown-tan-desert_sand;
$color--shape-element: $color-brown-shadow;
$color--paragraph--hero: $color-brown-tan-tequila;
$color-header_title: $color-brown-treehouse;
$color-hero-container-left: $color-brown-cafe_noir;
$color-hero-shape: $color-brown-shadow;
$color-hero-title: $color-white-1;
$color-hero-subtitle: $color-brown-cashmere;
$color-nav-link: $color-brown-treehouse;
$color-nav-link-hover: $color-brown-treehouse-light;
$color-nav-button-bg: $color-brown-cafe_noir;
$color-nav-button-text: $color-white-1;
$color-text-heading-2: $color-brown-walnut;
$color-text-heading-3: $color-brown-walnut;
$color-text-paragraph-text: $color-brown-treehouse-2;
$color-text-heading-4: $color-brown-walnut;

$xs: "xs";
$sm: "sm";
$md: "md";
$lg: "lg";
$xl: "xl";
$xxl: "xxl";

/// Container's maximum width
/// @type Length
///

$max-width-sm: 540px;
$max-width-md: 720px;
$max-width-lg: 960px;
$max-width-xl: 1140px;
$max-width-xxl: 1320px;

$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 815px,
  //768px, bootstrap
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: "/assets/" !default;
