// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
  background-color: $color--brand-background;
}

.hero {
  background-color: $color-hero-container-left;
  color: $color--paragraph--hero;

  &__container {
    display: flex;
    flex-direction: column;

    @include respond-to(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: stretch;
    }
  }

  &__left-container {
    padding-right: 2rem;
    padding-bottom: 6.5rem;

    @include respond-to(md) {
      //   align-items: start;
    }

    @include respond-to(lg) {
      padding-right: 8rem;
    }
    // @include respond-to(xxl) {
    //   padding-bottom: 16.2rem;
    // }
    @include respond-to-auto(
      xs,
      (
        padding-bottom: 6.5rem,
      ),
      xxl,
      (
        padding-bottom: 12rem,
      )
    );
  }

  &__shape-vert {
    // width: 5.4rem;
    // height: 8rem;
    // margin-bottom: 3.4%;
    background-color: $color-brown-shadow;
    // width: max(4.2rem, 8%);
    // height: max(8rem);

    // @include respond-to-multiple((
    //   md: (width:9.3%)
    // ));
    width: 4.6rem;
    height: 8rem;
    margin-bottom: 1.5rem;
    // @include respond-to-auto(
    //   xs,
    //   (
    //     width: 4.6rem,
    //     height: 8rem,
    //     margin-bottom:1.5rem
    //   ),
    //   xxl,
    //   (
    //     width: 5.4rem,
    //     height: 9.3rem,
    //     margin-bottom:1.7rem
    //   )
    // );
  }

  & .test-percent {
    width: 50%;
    height: 50%;
    background-color: red;
  }

  &__icon-infinity {
    // width: 4.2rem;
    // height: 4.2rem;

    // @include respond-to(xxl) {
    //   width: 5.4rem;
    //   height: 5.3rem;
    // }
    width: 4.6rem;
    height: auto;
    margin-bottom: 0.6rem;

    & img {
      width: 100%;
      height: 100%;
    }

    // @include respond-to-auto-xs(
    //   (
    //     width: 4.6rem,
    //     height: auto,
    //     margin-bottom: 0.6rem
    //   ),
    //   xxl,
    //   (
    //     width: 5.4rem,
    //     height: auto,
    //     margin-bottom: 0.9rem
    //   )
    // );
  }
  &__subtitle {
    margin-bottom: 0.55rem;
    color: $color-hero-subtitle;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;

    // @include respond-to-auto-xs((
    //   font-size: 1.4rem,
    //   letter-spacing: 0.5rem
    //   ),
    //   xxl,
    //   (
    //     letter-spacing: 0.6rem,
    //     font-size: 1.7rem,
    //   )
    // )

    // @include respond-to-auto-xs(lg) {

    //   font-size: 1.64rem;
    // }
    // @include respond-to(xxl) {
    //   letter-spacing: 0.6rem;
    //   font-size: 1.7rem;
    // }
  }
  &__title {
    max-width: 38rem;
    margin-bottom: 3rem;
    // background-color: orange;/
    color: $color-hero-title;
    // font-size: 4rem;
    font-weight: 800;
    line-height: 107%;
    font-size: 4.7rem;

    @include respond-to(lg) {
      //   font-size: 4.5rem;
      max-width: 40rem;
    }

    // @include respond-to-auto-xs(
    //   (
    //     font-size: 4.5rem,
    //   ),
    //   xxl,
    //   (
    //     font-size: 5rem,
    //   )
    // );

    // @include respond-to(xl) {
    //   font-size: 5rem;
    //   // max-width: 60rem;
    // }

    // @include respond-to(xxl) {
    //   font-size: 5rem;
    //   // max-width: 60rem;
    // }
  }

  &_horz-line-box {
    /// margin-bottom: 1.8rem;
    height: 1px;
  }

  &__horz-line {
    $width: 300rem;

    height: 1px;
    width: $width;
    position: absolute;
    // margin-bottom: 5rem;
    // left: 0;
    // transform: translateX(calc(19rem - #{$width})) translateY(-1.8rem);
    transform: translateX(calc(20rem - #{$width}));
    background-color: $color-brown-cashmere;

    // @include respond-to(lg) {
    //   transform: translateX(calc(21rem - #{$width})) translateY(-1.5rem);
    // }

    // @include respond-to(xl) {
    //   transform: translateX(calc(23.5rem - #{$width})) translateY(-1.5rem);
    // }

    // @include respond-to-multiple(
    //   (
    //     sm: (
    //       width: calc($width - 10rem)
    //         //transform: translateX(calc(21rem - #{$width})) translateY(-1.5rem),,,,,,,,,,,,,,,,,,,,,,,,,,,,,
    //     ),
    //     xl: (
    //       width: $width + 4.5rem
    //         //transform: translateX(calc(23.5rem - #{$width})) translateY(-1.5rem),,,,,,,,,,,,,,,,,,,
    //     ),
    //   )
    // );

    // @include respond-to-auto(
    //   sm,
    //   (
    //     width: $width + 1.2rem,
    //   ),
    //   xl,
    //   (
    //     width: $width + 3.2rem,
    //   )
    // );
  }

  &__paragraph {
    max-width: 100%;
    line-height: 152%;
    margin-block: 1.6rem;
    // margin-right: ;

    @include respond-to(sm) {
      max-width: 75%;
    }

    @include respond-to(md) {
      max-width: 90%;
    }
    @include respond-to(lg) {
      max-width: 100%;
    }
  }

  // &__button-box {
  //   // margin-left: 10px;
  // }

  img {
    // height: 300px;

    object-fit: cover;
    @include respond-to(md) {
      // height: ;
      // width: auto;
    }
  }
}
